@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* IMPRINT */
section[epub|type~="imprint"] img {
	display: block;
	height: 4em;
    width: auto;
	margin: 0 auto;
}

/* COLOPHON  */


/* UNCOPYRIGHT  */
section[epub|type~="copyright-page"] {
	text-align: center;
}
section[epub|type~="copyright-page"] img{
	display: block;
	width:50%;
	max-width: 40em;
	margin: 1em auto;
}
