@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#uncopyright{
	text-align: center;
}

#uncopyright img{
	display: block;
	width:50%;
	max-width: 40em;
	margin: 1em auto;
}

#uncopyright p{
	margin: 1em auto 0 auto;
	width: fit-content;
	width: fit-content;
}